@charset "UTF-8";

h2{
  margin: 45px 0;
  color: #555;
  font-weight: 400;
}


form{
  background-color: green;
  width: 100%;
  height: auto;
  margin: 60px auto;
  padding: 80px 0 60px 0;
  border-radius: 20px;
  text-align: center;
}

.post_wrap{
  display: flex;
  justify-content: space-around;
}

input,.label_border,textarea,select{
  background-color: #f9f6f6;
  border:solid 0.5px #A9A9A9;
}

.label_border{
  border-radius:5px;
  width: 415px;
  height: 415px;
  position: relative;
  margin-top: 10px;
}

#file{
  display: none;
}

#file_result img{
  display: block;
  width: 417px;
  height: 417px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  left: -1px;
}

label{
  color: #555;  
  background-color: #eee;
  width: 230px;
  text-align: center;
  padding: 10px 15px;
  border:solid 0.5px #A9A9A9;
  border-radius: 23px;
  margin: 165px auto;
  display: block;
  z-index: 5;
}

label:hover {
  color: #fff;  
  background-color: #A9A9A9;
  width: 230px;
  text-align: center;
  padding: 10px 15px;
  border:solid 1px #A0A0A0;
  border-radius: 23px;
  margin: 165px auto;
  display: block;
}

input{
  margin-bottom: 20px;
  /* display: block; */
  width: 500px;
  height:43px;
  padding:0 15px; 
  outline:0;
  border-radius:4px;
  /* left: 30px; */
  font-size: 15px;
}

select{
  margin-bottom: 20px;
  /* display: block; */
  width: 530px;
  height:43px;
  padding:0 15px; 
  outline:0;
  border-radius:4px;
  /* left: 30px; */
  font-size: 15px;
}

.option_li{
   color: #555;
}

textarea{
  margin: 20px auto 0 auto;
  display: block;
  width: 800px;
  height:400px;
  padding: 15px 10px; 
  outline:0;
  border-radius:5px;
  font-size: 15px;
  resize: none;
  color: #555;
}

.btn_wrap{
  display: flex;
}

.submit:hover{
  color: #fff;  
  background-color: #c89393;
  width: 190px;
  height: 60px;
  padding: 13px 15px;
  border:solid 2px #c89393;
  border-radius: 40px;
  margin: 70px auto 0 auto;
  display: block;
  font-size: 18px;
}

.submit{
  color: #eee;  
  background-color:red;
  width: 190px;
  height: 60px;
  padding: 13px 15px;
  border:solid 2px #828282;
  border-radius: 40px;
  margin: 70px auto 0 auto;
  display: block;
  font-size: 18px;
}

/* 編集フォーム　*/
.edit_file img{
  display: block;
  width: 417px;
  height: 417px;
  object-fit: cover;
  margin-top: 10px;
}