@charset "UTF-8";

h2{
  margin: 45px 0;
  color: #eee;
  font-weight: 400;
}

.user_form{
  background-color: green;
  width: 600px;
  height: auto;
  margin: 58px auto;
  padding: 20px 10px;
  border-radius: 20px;
  text-align: center;
}

.user_form img{
  display: block;
  height: auto;
  float: left;
  width: 285px;
  margin: 0 30px;
}

.label_border{
  border-radius:5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  text-align: center;
}

#file{
  display: none;
}

#file_result img{
  display: block;
  width: 303px;
  height: 303px;
  object-fit: cover;
  margin: 50px 150px 30px -35px;
}

label{
  color: #555;  
  background-color: #eee;
  width: 230px;
  text-align: center;
  padding: 10px 15px;
  border:solid 0.5px #A9A9A9;
  border-radius: 23px;
  margin: 50px auto;
  display: block;
}


.name,.mail{
  margin: 30px auto;
  display: block;
  width: 360px;
  height:45px;
  padding:0 15px; 
  outline:0;
  background:#eee;
  border:solid 0.5px #A9A9A9;
  border-radius:5px;
  font-size: 15px;
  text-align: center;
}

.submit{
  color: #fff;  
  background-color:red;
  width: 190px;
  padding: 10px 15px;
  border:solid 2px #eee;
  border-radius: 23px;
  margin: 70px auto 55px auto;
  display: block;
  font-size: 17px;
  outline: none;
}


