@charset "UTF-8";

h2{
  margin: 0px 0 50px 0;
  text-align: center;
  color: #eee;
}

.post_wrapper{
  background-color: green;
  width: 100%;
  height: auto;
  margin: 70px auto 100px auto;
  padding: 60px 20px;
  border-radius: 20px;
  text-align: center;
}

/* 新着投稿　*/
.newpost_wrapper{
  margin: 50px 0;
}

.new_post{
  margin: ;
}

.more{
  margin-top: 30px;
}
.more:hover{
  margin-top: 30px;
  opacity: 0.7;
}

.newpost_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}

.product_wrap{
  margin: 40px 10px;
}

.product_img{
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
}
.product_img:hover {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.6;
}

.author_wrap{
  display: flex;
  margin: 5px 0 0 0;
}

.author_icon{
  width: 45px;
  height: 45px;
  border-radius: 30px;
  object-fit: cover;
}

.author_name{
  display: block;
  margin: 10px 0 0 7px;
  border-bottom: 1px solid #555;
  height: 20px;
}

.author_name:hover{
  opacity: 0.6;
}

.favorite_flex{
  display: flex;
  justify-content: space-between;
}

/* いいね */
.btn-good{
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  color: #f44336;
  font-size: 17px;
  margin-top: 15px;
}
.btn-good:hover{
  color: #f44336;
  opacity: 0.8;
}
.active{
  color: #f44336;
}
.btn-good .active{
  color: #f44336;
}

.btn-good span{
  margin-left: 3px;
}
