@charset "UTF-8";
h2{
  color: #eee;
  font-weight: 400;
}

a:hover{
  opacity: 0.7;
}

.form_wrap{
  background-color: green;
  width: 80%;
  height: auto;
  margin: 70px auto 100px auto;
  padding: 60px 0 60px 0;
  border-radius: 20px;
  text-align: center;
}

.user_wrap{
  display: block;
  
}

.prof_icon img{
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding-right: 290px;
  object-fit: cover;
}

.prof_name{
  color: #eee;
  font-size: 10px;
  position: relative;
  bottom: 200px;
  left: 100px;
}


.mypage_btn_wrap{
  margin-top: 60px;
}


.mypage_btn button{
  color: #eee; 
  background-color: red;
  width: 190px;
  height: 40px;
  padding: 10px 13px;
  border:solid 2px #828282;
  border-radius: 40px;
  margin: 20px auto;
  display: block;
  font-size: 15px;
  outline: none;
  position: relative;
  bottom: 200px;
  left: 100px;
}


.mypage_delete button{
  color: #eee;  
  background-color:red;
  width: 150px;
  height: 40px;
  padding: 10px 13px;
  border:solid 2px #828282;
  border-radius: 40px;
  margin: 10px auto;
  display: block;
  font-size: 15px;
  outline: none;
}